{% extends 'layout.html' %}

{% block content %}

{% load static %}

<header class="row bg-black">
    <div class="col-md-4">
        <img src="{% static 'portfolio/th.jpeg' %}">
    </div>

    <div class="col-md-8 my-auto">
        <h1>I am <strog>Andres Garcia</strog></h1>
        <h3>I am a Python Backend Developer</h3>
        <p>
            Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum como su texto por defecto, y al hacer una búsqueda de "Lorem Ipsum" va a dar por resultado muchos sitios web que usan este texto si se encuentran en estado de desarrollo. Muchas versiones han evolucionado a través de los años, algunas veces por accidente, otras veces a propósito (por ejemplo insertándole humor y cosas por el estilo).
        </p>
        <a
            href="{% static 'portfolio/cv.pdf' %}" 
            class="btn btn-primary btn-lg rounded-0 my-3" 
        >
        Download CV
        </a>
    </div>

</header>

<div class="row my-4 text-center">

    <h3> My Projects</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A magni exercitationem vel, voluptatibus, tempora sequi quidem nisi facere saepe quas, quibusdam placeat consequuntur porro in est non omnis fugiat eaque?</p>


    {% for project in projects %}
<div class="col-md-4 p-4">
    <div class="card bg-black card-project">
        <img src="{{project.image.url}}" alt="{{project.title}}" class="card-img-top" />
        <div class="card-body">

        <h2>{{project.title}}</h2>
        <p>{{project.description}}</p>
        {% if project.url %}
            <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="_blank">{{project.url}}</a>
        {% endif %}
        </div>
    </div>
</div>

    {% endfor %}
{% endblock %}

</div>
